/*set color and size variables */
:root {
    --Red-Orange: rgba(255, 92, 77, 1);
    --Orange: rgba(255, 150, 54, 1);
    --Mimosa: #FFCD58; 
    --Chartreuse: #DAD870; 
    --Lime-Green: #7A871E; 
    --gridHeight: 198px;
    --gridWidth: 198px;
    --ExOhSize: calc(var(--gridHeight) * .8)
  }

 /*style h1, body, button, and Main div */ 

body{
    margin: 0;
    background: linear-gradient(to left, var(--Red-Orange) 0%, var(--Orange)100%);
}

h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    color: var(--Lime-Green); 
    margin-bottom: 50px;
}

.Rbutton{
    bottom:10%;
    background-color: var(--Mimosa);
}

.mainDiv {
    grid-template-columns: repeat(3, 1fr);
    background: var(--Chartreuse);
    display: grid;
    width: 600px;
    height: 600px;
    justify-content: center; 
    align-content: center;
    justify-items: center;
    align-items: center;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.grid {
    border: 1px solid var(--Red-Orange);
    height: var(--gridHeight);
    width : var(--gridWidth);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }

/*Chop off ends or borders and generate X and O via CSS */ 

.grid:first-child,
.grid:nth-child(2),
.grid:nth-child(3){
    border-top: none;
}

.grid:nth-child(3n +1) {
    border-left: none;
}

.grid:nth-child(3n + 3) {
    border-right: none;
}

.grid:last-child,
.grid:nth-child(8),
.grid:nth-child(7){
    border-bottom: none;
}

.grid.EX,
.grid.OH {
    cursor: not-allowed;
}

.grid.EX::before,
.grid.EX::after,
.grid.OH::before,
.grid.OH::after {
    background-color: var(--Lime-Green);
}

.EX .grid:not(.EX):not(.OH):hover::before,
.mainDiv.EX .grid:not(.EX):not(.OH):hover::after,
.mainDiv.OH .grid:not(.EX):not(.OH):hover::before{
    background-color: var(--Lime-Green);
}


.grid.EX::before,
.grid.EX::after,
.mainDiv.EX .grid:not(.EX):not(.OH):hover::before,
.mainDiv.EX .grid:not(.EX):not(.OH):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--ExOhSize) * .15);
    height: var(--ExOhSize);   
}

.grid.EX::before,
.mainDiv.EX .grid:not(.EX):not(.OH):hover::before{
    transform: rotate(45deg);
}

.grid.EX::after,
.mainDiv.EX .grid:not(.EX):not(.OH):hover::after{
    transform: rotate(-45deg);
}

.grid.OH::before,
.grid.OH::after,
.mainDiv.OH .grid:not(.EX):not(.OH):hover::before,
.mainDiv.OH .grid:not(.EX):not(.OH):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.grid.OH::before,
.mainDiv.OH .grid:not(.EX):not(.OH):hover::before {
    width: var(--ExOhSize);
    height: var(--ExOhSize);
   
}

.grid.OH::after,
.mainDiv.OH .grid:not(.EX):not(.OH):hover::after {
    width: calc(var(--ExOhSize) * .7);
    height: calc(var(--ExOhSize) * .7);
    background-color:  var(--Chartreuse);
}
