h1 {
    text-align: center
}

.grid {
    border: 1px solid black;
    height: 198px;
    width : 198px;
    grid-gap: 1px;
  }
#main {
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid black;
    display: grid;
    display: grid;
    width: 600px;
    height: 600px;
    position: absolute; 
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}
  