/* Set uniformed box sizing */

/*set color and size variables */
:root {
    --Red-Orange: rgba(255, 92, 77, 1);
    --Orange: rgba(255, 150, 54, 1);
    --Mimosa: #FFCD58; 
    --Amber:#FDB750;
    --Chartreuse: #DAD870; 
    --Lime-Green: #7A871E; 
    --gridHeight: 198px;
    --gridWidth: 198px;
    --ExOSize: calc(var(--gridHeight) * .8)
  }

 /*style h1, body, button, and Main div */ 

body{
    margin: 0;
    background: linear-gradient(to left, var(--Red-Orange) 0%, var(--Orange)100%);
}

h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    color: var(--Lime-Green); 
    margin-bottom: 0px;
}

#messageAlert{
    visibility: hidden;
    margin-bottom: 25px;
}

.container {
    height: 200px;
    position: relative;
    
  }
  
.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    
  }
 
.mainDiv {
    grid-template-columns: repeat(3, 1fr);
    border-collapse: collapse;
    display: grid;
    width: 600px;
    height: 600px;
    justify-content: center; 
    align-content: center;
    justify-items: center;
    align-items: center;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.grid {
    border: 1px solid var(--Lime-Green);
    height: var(--gridHeight);
    width : var(--gridWidth);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }

  .grid.O {
    color: var(--Lime-Green);
    font-size: calc(var(--gridHeight) * .9);
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
  }

.playButton {
    background-color: var(--Lime-Green);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .playButton {
    box-shadow: var(--Red-Orange) 0 1px 30px;
    transition-duration: .1s;
  }
  
  @media (min-width: 768px) {
    .playButton {
      padding: 0 2.6rem;
    }
  }

/*Chop off ends or borders and generate X and O via CSS */ 

.grid:first-child,
.grid:nth-child(2),
.grid:nth-child(3){
    border-top: none;
}

.grid:nth-child(3n +1) {
    border-left: none;
}

.grid:nth-child(3n + 3) {
    border-right: none;
}

.grid:last-child,
.grid:nth-child(8),
.grid:nth-child(7){
    border-bottom: none;
}

/* turn cursor off  */

.grid.EX,
.grid.O {
    cursor: not-allowed;
}

.grid.EX::before,
.grid.EX::after{
    background-color: var(--Lime-Green);
}

.grid.EX::before,
.grid.EX::after,
.mainDiv.EX .grid:not(.EX)::before,
.mainDiv.EX .grid:not(.EX)::after {
    content: '';
    position: absolute;
    width: calc(var(--ExOSize) * .15);
    height: var(--ExOSize);   
}

.grid.EX::before,
.mainDiv.EX .grid:not(.EX):before{
    transform: rotate(45deg);
}

.grid.EX::after,
.mainDiv.EX .grid:not(.EX):after{
    transform: rotate(-45deg);
}

/*.grid.O::before,
.grid.O::after,
.mainDiv.O .grid:not(.EX)::before,
.mainDiv.O .grid:not(.EX)::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.grid.O::before,
.mainDiv.O .grid:not(.EX)::before {
    width: var(--ExOSize);
    height: var(--ExOSize); 
}
